.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Centers content vertically on the page */
  padding-left: 20px; /* Add some left padding for spacing */
  text-align: center;
  margin: 0 auto; /* Center the container horizontally */
  max-width: 600px; /* Optionally limit the container width */
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add some margin between input containers */
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between input and buttons */
}

.left-aligned {
  text-align: left;
}

.input-and-buttons {
  margin-right: 10px; /* Add some spacing between input and buttons */
}

button {
  background-color: #333; /* Add your preferred button styles */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #333; /* Change the button color on hover */
}

button.plus {
  margin-right: 10px; /* Adjust as needed */
  margin-left: 10px;
}
